@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eee;
  width: 375px;
  min-height: 100dvh;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body main {
  background: #fff;
}
